<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="main.xhtml">
    <ui:define name="content">

        <p:outputLabel value="Yetkiniz Yoktur"/>

    </ui:define>

</ui:composition>