<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="main.xhtml">

    <ui:define name="baslik">Araç</ui:define>

    <ui:define name="content">
        <h1 class="page-header "><i class="fa fa-car"></i> Araç İşlemleri</h1>
        <h:form id="form" enctype="multipart/form-data">
            <p:dataTable value="#{aracController.aracLazyDataModel}"
                         var="arac"
                         id="aracTable"
                         lazy="true"
                         emptyMessage="Araç kaydı bulunamadı!"
                         paginator="true"
                         paginatorPosition="bottom"
                         rows="10"
                         paginatorAlwaysVisible="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="1,2,4"
                         selectionMode="single">

                <p:ajax event="rowSelect"
                        listener="#{aracController.onRowSelect}"
                        process="@this"
                        update=":form:aracPanel"/>

                <f:facet name="header">Araç Listesi</f:facet>

                <p:column headerText="Plaka" sortBy="#{arac.plaka}"
                          filterBy="#{arac.plaka}" filterMatchMode="contains">
                    <h:outputText value="#{arac.plaka}"/>
                </p:column>
                <p:column headerText="Marka" sortBy="#{arac.marka.adi}" filterBy="#{arac.marka.adi}">
                    <h:outputText value="#{arac.marka.adi}"/>
                </p:column>
                <p:column headerText="Model" sortBy="#{arac.model}" filterBy="#{arac.model}">
                    <h:outputText value="#{arac.model}"/>
                </p:column>
                <p:column headerText="Yıl" style="text-align: center">
                    <h:outputText value="#{arac.yil}">
                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                    </h:outputText>
                </p:column>
                <p:column style="width: 60px; text-align: center">
                    <f:facet name="header">
                        <p:commandButton icon="ui-icon-plusthick" title="Yeni kayıt eklemek için tıklayınız..."
                                         action="#{aracController.yeni}"
                                         process="@this"
                                         update=":form:aracPanel"/>
                    </f:facet>
                    <p:commandButton icon="ui-icon-search" title="Araçyi seçmek için tıklayınız..."
                                     process="@this"
                                     update=":form:aracPanel">
                        <f:setPropertyActionListener value="#{arac}" target="#{aracController.arac}"/>
                    </p:commandButton>
                </p:column>
            </p:dataTable>
            <br/>
            <h:panelGroup id="aracPanel">
                <p:panel header="Araç Bilgileri" rendered="#{aracController.arac != null}">
                    <h:panelGrid columns="3">
                        <h:outputLabel value="Plaka: "/>
                        <p:inputText id="plaka" value="#{aracController.arac.plaka}"
                                     required="true" requiredMessage="Plaka giriniz!"/>
                        <p:message for="plaka"/>

                        <h:outputLabel value="Marka: "/>
                        <p:selectOneMenu id="marka" value="#{aracController.arac.marka}"
                                         converter="#{markaConverter}" style="width: 158px!important;">
                            <f:selectItem itemLabel="" itemValue="#{null}"/>
                            <f:selectItems value="#{globalDataService.markaListesi}" var="marka"
                                           itemLabel="#{marka.adi}" itemValue="#{marka}"/>
                        </p:selectOneMenu>
                        <p:message for="marka"/>

                        <h:outputLabel value="Model: "/>
                        <p:inputText id="model" value="#{aracController.arac.model}"
                                     required="true" requiredMessage="Model giriniz!"/>
                        <p:message for="model"/>

                        <h:outputLabel value="Yıl: "/>
                        <p:calendar id="yil" value="#{aracController.arac.yil}"
                                    pattern="dd/MM/yyyy"
                                    mode="popup"/>
                        <p:message for="yil"/>

                        <h:outputLabel value="Foto: "/>
                        <h:panelGroup>
                            <p:graphicImage id="foto" value="#{imageController.image}" width="400" height="auto"/>
                            <p:commandButton value="İndir" ajax="false"
                                             onclick="PrimeFaces.monitorDownload(start, stop);"
                                             icon="ui-icon-arrowthick-1-s">
                                <p:fileDownload value="#{aracController.foto}"/>
                            </p:commandButton>
                            <p:fileUpload fileUploadListener="#{aracController.handleFileUpload}"
                                          mode="advanced"
                                          auto="true" sizeLimit="3000000" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
                                          process="@this"
                                          update=":form:foto"/>
                        </h:panelGroup>
                    </h:panelGrid>
                    <f:facet name="footer">
                        <p:commandButton value="Vazgeç" icon="ui-icon-cancel"
                                         action="#{aracController.vazgec}"
                                         process="@this"
                                         update=":form:aracPanel"/>
                        <p:commandButton value="Sil" icon="ui-icon-trash"
                                         rendered="#{!aracController.yeniKayit}"
                                         action="#{aracController.sil}"
                                         process="@this"
                                         update=":form:aracPanel, :form:aracTable">
                            <p:confirm header="Silme Onayı"
                                       message="Kaydı silmek istediğinizden emin misiniz?"
                                       icon="ui-icon-alert"/>
                        </p:commandButton>
                        <p:commandButton value="Kaydet" icon="ui-icon-disk"
                                         action="#{aracController.kaydet}"
                                         process=":form:aracPanel, @this"
                                         update=":form:aracPanel, :form:aracTable"/>
                    </f:facet>
                </p:panel>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>