<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1 col-md-1 sidebar">
                <ui:include src="leftMenu.xhtml"/>
            </div>
            <div class="col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1 main">
                <ui:insert name="content"/>
            </div>
        </div>
    </div>
</ui:composition>

