<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="main.xhtml">

    <ui:define name="baslik">Sözleşme ve Fatura İşlemleri</ui:define>

    <ui:define name="content">
        <style type="text/css">
            .datalist-noborder .ui-widget-content {
                border: none;
            }
        </style>
        <h1 class="page-header "><i class="fa fa-try"></i> Sözleşme ve Fatura İşlemleri</h1>
        <h:form>
            <p:dataTable value="#{faturaController.kurumListesi}"
                         var="kurum"
                         id="kurumTable"
                         emptyMessage="Kurum kaydı bulunamadı!">

                <f:facet name="header">Kurum Listesi</f:facet>

                <p:column headerText="Ad" sortBy="#{kurum.ad}">
                    <h:outputText value="#{kurum.ad}"/>
                </p:column>
                <p:column headerText="İl" sortBy="#{kurum.kurumIli.ad}">
                    <h:outputText value="#{kurum.kurumIli.ad}"/>
                </p:column>
                <p:column headerText="Araç Listesi">
                    <div class="datalist-noborder">
                        <p:dataList style="background: none!important;"
                                    type="ordered"
                                    rendered="#{!empty kurum.aracListesi}"
                                    value="#{kurum.aracListesi}" var="arac">
                            #{arac.marka.adi} - #{arac.model}
                        </p:dataList>
                    </div>
                </p:column>
                <p:column headerText="Tutar" style="text-align: right!important; width: 200px!important;">
                    <strong><i class="fa fa-try"></i> #{kurum.aracListesi.size()*2700*12}</strong>
                </p:column>
                <p:column style="width: 100px; text-align: center" headerText="Sözleşme Bastır">
                    <p:commandButton
                            ajax="false"
                            icon="fa fa-print"
                            title="Sözleşme Bastır"
                            onclick="PrimeFaces.monitorDownload(start, stop);"
                    >
                        <f:setPropertyActionListener value="#{kurum}" target="#{faturaController.kurum}"/>
                        <p:fileDownload value="#{faturaController.file}"/>
                    </p:commandButton>
                </p:column>
                <p:column style="width: 60px; text-align: center" headerText="Fatura Bastır">
                    <p:commandButton
                            ajax="false"
                            icon="fa fa-try"
                            title="Fatura Bastır"
                            onclick="PrimeFaces.monitorDownload(basla, bitir);"
                    >
                        <f:setPropertyActionListener value="#{kurum}" target="#{faturaController.kurumFatura}"/>
                        <p:fileDownload value="#{faturaController.faturaPdf}"/>
                    </p:commandButton>
                </p:column>
            </p:dataTable>

        </h:form>
        <p:dialog modal="true"
                  widgetVar="statusDialog"
                  header="Sözleşme Dosyası Oluşturuluyor"
                  draggable="false"
                  closable="false"
                  resizable="false">
            <center>
                <p:graphicImage name="ajaxloadingbar.gif" library="img"/><br></br>
                <h4><p:outputLabel value="Burak Filo A.Ş."/></h4>
            </center>
        </p:dialog>
        <p:dialog modal="true"
                  widgetVar="faturaDialog"
                  header="Fatura Dosyası Oluşturuluyor"
                  draggable="false"
                  closable="false"
                  resizable="false">
            <center>
                <p:graphicImage name="ajaxloadingbar.gif" library="img"/><br></br>
                <h4><p:outputLabel value="Burak Filo A.Ş."/></h4>
            </center>
        </p:dialog>
        <script type="text/javascript">
            function basla() {
                PF('faturaDialog').show();
            }

            function bitir() {
                PF('faturaDialog').hide();
            }
        </script>
        <script type="text/javascript">
            function start() {
                PF('statusDialog').show();
            }

            function stop() {
                PF('statusDialog').hide();
            }
        </script>
    </ui:define>
</ui:composition>