<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="/main.xhtml">
    <ui:define name="content">
        <h1 class="page-header "><i class="fa fa-tachometer"></i> Burak Filo İnşaat Ltd. Şti</h1>
        <center>
            <h3><p:clock/></h3><br></br>
            <h:panelGrid columns="4">
                <p:panel style="height: 500px!important; border: none!important;" header="Hava Durumu">
                    <iframe src="https://www.meteoblue.com/tr/hava/widget/daily?geoloc=detect&amp;days=7&amp;tempunit=CELSIUS&amp;windunit=KILOMETER_PER_HOUR&amp;coloured=coloured&amp;pictoicon=0&amp;pictoicon=1&amp;maxtemperature=0&amp;maxtemperature=1&amp;mintemperature=0&amp;mintemperature=1&amp;windspeed=0&amp;windspeed=1&amp;windgust=0&amp;winddirection=0&amp;uv=0&amp;humidity=0&amp;precipitation=0&amp;precipitation=1&amp;precipitationprobability=0&amp;spot=0&amp;pressure=0&amp;layout=light"
                            frameborder="0" scrolling="NO" allowtransparency="true"
                            sandbox="allow-same-origin allow-scripts allow-popups"
                            style="width: 378px;height: 272px"></iframe>
                </p:panel>
                <p:panel style="width: 20px!important;border: none!important;"></p:panel>
                <p:panel style="width: 400px!important;height: 500px!important; border: none!important;"
                         header="Sektör Haberleri">
                    <p:feedReader value="http://www.ntv.com.tr/otomobil.rss" var="feed" size="4">
                        <a href="#{feed.link}" style="font-weight: bold;display:block;font-size: 14px;color: #2d6ca2"
                           target="_blank">#{feed.title}</a>
                        <h:outputText value="#{feed.description.value}" escape="false"/>
                        <p:separator/>
                    </p:feedReader>
                </p:panel>
            </h:panelGrid>
        </center>
    </ui:define>
</ui:composition>