<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                <a class="navbar-brand" href="#" style="color: white!important; ">Filo Takip Sistemi</a>
            </div>
            <!--   <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"
                             onclick="window.location='#{facesContext.externalContext.requestContextPath}/logout'"
                             style="color: white!important; ">Çıkış Yap</a></li>
                  </ul>
              </div> -->
        </div>
    </div>
</ui:composition>

