<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="main.xhtml">

    <ui:define name="baslik">İller</ui:define>

    <ui:define name="content">
        <h1 class="page-header "><i class="fa fa-check-square-o"></i> İl İşlemleri</h1>
        <h:form id="form">
            <p:dataTable value="#{globalDataService.ilListesi}" var="il" lazy="true"
                         id="ilTable"
                         emptyMessage="İl kaydı bulunamadı!"
                         paginator="true"
                         rows="10">

                <f:facet name="header">İl Listesi</f:facet>

                <p:column headerText="Ad" sortBy="#{il.ad}"
                          filterBy="#{il.ad}" filterMatchMode="contains">
                    <h:outputText value="#{il.ad}"/>
                </p:column>
                <p:column style="width: 60px; text-align: center">
                    <f:facet name="header">
                        <p:commandButton icon="ui-icon-plusthick" title="Yeni kayıt eklemek için tıklayınız..."
                                         action="#{ilController.yeni}"
                                         process="@this"
                                         update=":form:ilPanel"/>
                    </f:facet>
                    <p:commandButton icon="ui-icon-search" title="İl seçmek için tıklayınız..."
                                     process="@this"
                                     update=":form:ilPanel">
                        <f:setPropertyActionListener value="#{il}" target="#{ilController.il}"/>
                    </p:commandButton>
                </p:column>
            </p:dataTable>
            <br/>
            <h:panelGroup id="ilPanel">
                <p:panel header="İl Bilgileri" rendered="#{ilController.il != null}">
                    <h:panelGrid columns="3">
                        <h:outputLabel value="Ad: "/>
                        <p:inputText id="ad" value="#{ilController.il.ad}"
                                     required="true" requiredMessage="Ad giriniz!"/>
                        <p:message for="ad"/>
                    </h:panelGrid>
                    <p:dataTable value="#{ilController.il.birimListesi}" var="birim"
                                 emptyMessage="İlde Kurum Bulunamadı!">
                        <f:facet name="header">İldeki Kurum Listesi</f:facet>
                        <p:column headerText="Kurum Adı" sortBy="#{birim.ad}"
                                  filterBy="#{birim.ad}" filterMatchMode="contains">
                            <h:outputText value="#{birim.ad}"/>
                        </p:column>
                    </p:dataTable>
                    <f:facet name="footer">
                        <p:commandButton value="Vazgeç" icon="ui-icon-cancel"
                                         action="#{ilController.vazgec}"
                                         process="@this"
                                         update=":form:ilPanel"/>
                        <p:commandButton value="Sil" icon="ui-icon-trash"
                                         rendered="#{!ilController.yeniKayit}"
                                         action="#{ilController.sil}"
                                         process="@this"
                                         update=":form:ilPanel, :form:ilTable">
                            <p:confirm header="Silme Onayı"
                                       message="Kaydı silmek istediğinizden emin misiniz?"
                                       icon="ui-icon-alert"/>
                        </p:commandButton>
                        <p:commandButton value="Kaydet" icon="ui-icon-disk"
                                         action="#{ilController.kaydet}"
                                         process=":form:ilPanel, @this"
                                         update=":form:ilPanel, :form:ilTable"/>
                    </f:facet>
                </p:panel>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>