<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="/main.xhtml">
    <ui:define name="content">
        <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"/>
        <h1 class="page-header "><i class="fa fa-tachometer"></i> Rapor Ekranı</h1>
        <p:panel id="basic">
            <p:effect type="slide" event="load" speed="2000"/>
            <h:panelGrid columns="3" cellpadding="10">
                <i class="fa fa-car fa-2x" aria-hidden="true"> <a
                        style="color: #0023ff;font-weight: bolder">#{raporController.aracFiloSayisi}</a>
                    <b>Araç</b></i>
            </h:panelGrid>
        </p:panel>
        <p:panel id="basic2">
            <p:effect type="slide" event="load" speed="2300"/>
            <h:panelGrid columns="3" cellpadding="10">
                <i class="fa fa-university fa-2x" aria-hidden="true"> <a
                        style="color: #0023ff;font-weight: bolder">#{raporController.kurumSayisi}</a>
                    <b>Kurum </b> </i>
            </h:panelGrid>
        </p:panel>
        <p:panel id="basic5">
            <p:effect type="slide" event="load" speed="2600"/>
            <h:panelGrid columns="3" cellpadding="10">
                <i class="fa fa-exchange fa-2x" aria-hidden="true"> <b>En Çok Araç Bulunan Kurum</b> <a
                        style="color: #0023ff;font-weight: bolder">#{raporController.enCokBulunanAracBulunanKurum}</a></i>
            </h:panelGrid>
        </p:panel>
        <p:panel id="basic3">
            <p:effect type="slide" event="load" speed="2900"/>
            <h:panelGrid columns="3" cellpadding="10">
                <i class="fa fa-tasks fa-2x" aria-hidden="true"> <b> Filonuzdaki En Fazla Araç Markası </b><a
                        style="color: #0023ff;font-weight: bolder">#{raporController.enfazlamarka}</a></i>
            </h:panelGrid>
        </p:panel>
        <br></br>
        <p:panel header="Aracınızın Bulunduğu İller" style="font-weight: bolder">
            <p:effect type="slide" event="load" speed="3200"/>
            <h:form>
                <p:growl id="growl" showDetail="true"/>
                <p:gmap center="39.3500000,35.7529437" zoom="6" type="ROADMAP" style="width:100%;height:400px"
                        model="#{raporController.simpleModel}">
                </p:gmap>
            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>