<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="main.xhtml">

    <ui:define name="baslik">Kurum İşlemleri</ui:define>

    <ui:define name="content">
        <h1 class="page-header "><i class="fa fa-university"></i> Kurum İşlemleri</h1>
        <h:form id="form">
            <p:dataTable value="#{kurumController.kurumListesi}" var="kurum"
                         id="kurumTable"
                         emptyMessage="Kurum kaydı bulunamadı!">

                <f:facet name="header">Kurum Listesi</f:facet>

                <p:column headerText="Ad" sortBy="#{kurum.ad}">
                    <h:outputText value="#{kurum.ad}"/>
                </p:column>
                <p:column headerText="Ad" sortBy="#{kurum.kurumIli.ad}">
                    <h:outputText value="#{kurum.kurumIli.ad}"/>
                </p:column>
                <p:column style="width: 60px; text-align: center">
                    <f:facet name="header">
                        <p:commandButton icon="ui-icon-plusthick" title="Yeni kayıt eklemek için tıklayınız..."
                                         action="#{kurumController.yeni}"
                                         process="@this"
                                         update=":form:kurumPanel, :form:eklenebilecekAracTable"/>
                    </f:facet>
                    <p:commandButton icon="ui-icon-search" title="Kurum seçmek için tıklayınız..."
                                     process="@this"
                                     update=":form:kurumPanel, :form:eklenebilecekAracTable">
                        <f:setPropertyActionListener value="#{kurum}" target="#{kurumController.kurum}"/>
                    </p:commandButton>
                </p:column>
            </p:dataTable>
            <br/>
            <h:panelGroup id="kurumPanel">
                <p:panel header="Kurum Bilgileri" rendered="#{kurumController.kurum != null}">
                    <h:panelGrid columns="3">
                        <h:outputLabel value="Ad: "/>
                        <p:inputText id="ad" value="#{kurumController.kurum.ad}" style="width: 250px!important;"
                                     required="true" requiredMessage="Ad giriniz!"/>
                        <p:message for="ad"/>
                        <h:outputLabel value="İl "/>
                        <p:selectOneMenu id="il" value="#{kurumController.kurum.kurumIli}"
                                         converter="#{ilConverter}" style="width: 250px!important;">
                            <f:selectItem itemLabel="" itemValue="#{null}"/>
                            <f:selectItems value="#{globalDataService.ilListesi}" var="il"
                                           itemLabel="#{il.ad}" itemValue="#{il}"/>
                        </p:selectOneMenu>
                        <p:message for="il"/>
                        <h:outputLabel value="Anlaşma Tarihi: "/>
                        <p:calendar id="anlasmaTarihi" value="#{kurumController.kurum.kiralanmaTarihi}"
                                    pattern="dd/MM/yyyy"
                                    mode="popup"/>
                        <p:message for="anlasmaTarihi"/>
                    </h:panelGrid>
                    <br/><br/>

                    <p:commandButton process="@this" value="Araçları Yönet"
                                     oncomplete="PF('kurumAracDialog').show()"/>
                    <p:dataTable id="eklenmisAracTable" value="#{kurumController.kurum.aracListesi}" var="arac"
                                 emptyMessage="Bu kurumda araç bulunmamaktadır!">
                        <f:facet name="header">Kuruma Bağlı Olan Araçlar</f:facet>
                        <p:column headerText="Plaka" sortBy="#{arac.plaka}">
                            <h:outputText value="#{arac.plaka}"/>
                        </p:column>
                        <p:column headerText="Marka" sortBy="#{arac.marka.adi}">
                            <h:outputText value="#{arac.marka.adi}"/>
                        </p:column>
                        <p:column headerText="Model" sortBy="#{arac.model}">
                            <h:outputText value="#{arac.model}"/>
                        </p:column>
                        <p:column headerText="Yıl" style="text-align: center">
                            <h:outputText value="#{arac.yil}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                            </h:outputText>
                        </p:column>
                        <p:column style="width:50px; text-align: center">
                            <p:commandButton title="Kaydı sil" icon="ui-icon-trash"
                                             action="#{kurumController.arabaSil(arac)}"
                                             process="@this"
                                             update=":form:eklenmisAracTable, :form:eklenebilecekAracTable">
                                <p:confirm header="Silme Onayı"
                                           message="Kaydı silmek istediğinizden emin misiniz?"
                                           icon="ui-icon-alert"/>
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
                    <f:facet name="footer">
                        <p:commandButton value="Vazgeç" icon="ui-icon-cancel"
                                         action="#{kurumController.vazgec}"
                                         process="@this"
                                         update=":form:kurumPanel"/>
                        <p:commandButton value="Sil" icon="ui-icon-trash"
                                         rendered="#{!kurumController.yeniKayit}"
                                         action="#{kurumController.sil}"
                                         process="@this"
                                         update=":form:kurumPanel, :form:kurumTable">
                            <p:confirm header="Silme Onayı"
                                       message="Kaydı silmek istediğinizden emin misiniz?"
                                       icon="ui-icon-alert"/>
                        </p:commandButton>
                        <p:commandButton value="Kaydet" icon="ui-icon-disk"
                                         action="#{kurumController.kaydet}"
                                         process=":form:kurumPanel, @this"
                                         update=":form:kurumPanel, :form:kurumTable"/>
                    </f:facet>
                </p:panel>
            </h:panelGroup>

            <p:dialog header="Kuruma Araç Ekleme" widgetVar="kurumAracDialog" modal="true"
                      height="400" width="600" closable="true" closeOnEscape="true">
                <p:dataTable id="eklenebilecekAracTable"
                             var="arac" value="#{kurumController.eklenebilirAracListesi}"
                             selection="#{kurumController.secilenArabaListesi}"
                             rowKey="#{arac.id}"
                             emptyMessage="Araç Bulunamadaı!">
                    <f:facet name="header">Kuruma Atayabileceğiniz Araçlar</f:facet>

                    <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                    <p:column headerText="Plaka">
                        <h:outputText value="#{arac.plaka}"/>
                    </p:column>
                    <p:column headerText="Marka">
                        <h:outputText value="#{arac.marka.adi}"/>
                    </p:column>
                    <p:column headerText="Model">
                        <h:outputText value="#{arac.model}"/>
                    </p:column>
                    <p:column headerText="Yıl">
                        <h:outputText value="#{arac.yil}"/>
                    </p:column>
                </p:dataTable>
                <f:facet name="footer">
                    <p:commandButton value="Seçilenleri Ekle"
                                     action="#{kurumController.secilenleriEkle}"
                                     process="@this, :form:eklenebilecekAracTable"
                                     update=":form:eklenmisAracTable"
                                     oncomplete="PF('kurumAracDialog').hide()"/>
                    <p:commandButton value="Vazgeç" type="button" onclick="PF('kurumAracDialog').hide()"/>
                </f:facet>
            </p:dialog>
        </h:form>
    </ui:define>
</ui:composition>