<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:body>
        <h:form>
            <ul class="nav nav-sidebar">
                <li></li>
                <br></br>
                <li></li>
                <br></br>
                <li><h:commandLink value="Anasayfa" action="giris.xhtml?faces-redirect=true"/></li>
                <li><h:commandLink value="Araç İşlemleri" action="arac.xhtml?faces-redirect=true"/></li>
                <li><h:commandLink value="Kurum İşlemleri" action="kurum.xhtml?faces-redirect=true"/></li>
                <li><h:commandLink value="İl İşlemleri" action="il.xhtml?faces-redirect=true"/></li>
                <li><h:commandLink value="Marka İşlemleri" action="marka.xhtml?faces-redirect=true"/></li>
                <li><h:commandLink value="Teklif İşlemleri" action="teklif.xhtml?faces-redirect=true"/></li>
                <li><h:commandLink value="Sözleşme ve Fatura İşlemleri" action="fatura.xhtml?faces-redirect=true"/></li>
                <li><h:commandLink value="Rapor İşlemleri" action="index.xhtml?faces-redirect=true"/></li>
            </ul>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Evet" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                <p:commandButton value="Hayır" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
            </p:confirmDialog>
        </h:form>
    </h:body>
</ui:composition>