<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017. Arda Sönük
  -->

<!--
  Created by IntelliJ IDEA.
  Kullanici: ardasonuk
  Date: 8.03.2017
  Time: 13:16
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Personel Login</title>
    <script type="text/javascript">
        function loginOnEnter() {
            if (event.keyCode == 13) {
                login();
            }
        }

        function login() {
            document.#{p:component('form')}.action = 'login';
            document.#{p:component('form')}.submit();
        }
    </script>
    <style type="text/css">
        .login {
            width: 320px;
            height: 140px;
            padding: 20px;
            position: absolute;
            top: 30%;
            left: 50%;
            margin-left: -160px;
            margin-top: -70px;
        }

    </style>
</h:head>
<h:body>
    <h:form id="form" prependId="false" onkeypress="loginOnEnter()" styleClass="login">
        <h:panelGrid>
            <p:outputLabel value="Kullanıcı Adı"/>
            <p:inputText placeholder="Kullanıcı adı giriniz" id="username"/>
            <p:outputLabel value="Şifre"/>
            <p:inputText type="password" placeholder="Parola giriniz" id="pwd"/>
            <p:commandButton type="button" onclick="login()" value="Giriş"/>
        </h:panelGrid>
    </h:form>
</h:body>

</html>
