<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>Filo Yönetim Sistemi</title>
    </f:facet>

    <f:facet name="middle">
        <h:outputStylesheet name="bootstrap/css/bootstrap.css"/>

        <h:outputStylesheet name="css/dashboard.css"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"/>

        <h:outputScript name="bootstrap/js/bootstrap.js"/>
    </f:facet>

    <f:facet name="last">
        <h:outputStylesheet name="css/font-awesome.css"/>
    </f:facet>

</h:head>

<h:body>
    <ui:include src="header.xhtml"/>
    <ui:include src="content.xhtml"/>
    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
        <p:commandButton value="Evet" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
        <p:commandButton value="Hayır" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
    </p:confirmDialog>
</h:body>
</html>