<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="main.xhtml">

    <ui:define name="baslik">Marka İşlemleri</ui:define>

    <ui:define name="content">
        <h1 class="page-header "><i class="fa fa-th-list"></i> Marka İşlemleri</h1>
        <h:form id="form">
            <p:dataTable value="#{markaController.markaLazyDataModel}"
                         var="marka"
                         id="markaTable"
                         lazy="true"
                         emptyMessage="Marka kaydı bulunamadı!"
                         paginator="true"
                         paginatorPosition="bottom"
                         rows="10"
                         paginatorAlwaysVisible="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="1,2,4"
                         selectionMode="single">

                <p:ajax event="rowSelect"
                        listener="#{markaController.onRowSelect}"
                        process="@this"
                        update=":form:markaPanel"/>

                <f:facet name="header">Marka Listesi</f:facet>

                <p:column headerText="Adı" sortBy="#{marka.adi}"
                          filterBy="#{marka.adi}" filterMatchMode="contains">
                    <h:outputText value="#{marka.adi}"/>
                </p:column>
                <p:column style="width: 60px; text-align: center">
                    <f:facet name="header">
                        <p:commandButton icon="ui-icon-plusthick" title="Yeni kayıt eklemek için tıklayınız..."
                                         action="#{markaController.yeni}"
                                         process="@this"
                                         update=":form:markaPanel"/>
                    </f:facet>
                    <p:commandButton icon="ui-icon-search" title="Marka seçmek için tıklayınız..."
                                     process="@this"
                                     update=":form:markaPanel">
                        <f:setPropertyActionListener value="#{marka}" target="#{markaController.marka}"/>
                    </p:commandButton>
                </p:column>
            </p:dataTable>
            <br/>
            <h:panelGroup id="markaPanel">
                <p:panel header="Marka Bilgileri" rendered="#{markaController.marka != null}">
                    <h:panelGrid columns="3">
                        <h:outputLabel value="Ad: "/>
                        <p:inputText id="adi" value="#{markaController.marka.adi}"
                                     required="true" requiredMessage="Marka giriniz!"/>
                        <p:message for="adi"/>
                    </h:panelGrid>
                    <f:facet name="footer">
                        <p:commandButton value="Vazgeç" icon="ui-icon-cancel"
                                         action="#{markaController.vazgec}"
                                         process="@this"
                                         update=":form:markaPanel"/>
                        <p:commandButton value="Sil" icon="ui-icon-trash"
                                         rendered="#{!markaController.yeniKayit}"
                                         action="#{markaController.sil}"
                                         process="@this"
                                         update=":form:markaPanel, :form:markaTable">
                            <p:confirm header="Silme Onayı"
                                       message="Kaydı silmek istediğinizden emin misiniz?"
                                       icon="ui-icon-alert"/>
                        </p:commandButton>
                        <p:commandButton value="Kaydet" icon="ui-icon-disk"
                                         action="#{markaController.kaydet}"
                                         process=":form:markaPanel, @this"
                                         update=":form:markaPanel, :form:markaTable"/>
                    </f:facet>
                </p:panel>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>