<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="main.xhtml">

    <ui:define name="baslik">Teklif İşlemleri</ui:define>


    <ui:define name="content">
        <h1 class="page-header "><i class="fa fa-pencil-square-o"></i> Teklif İşlemleri</h1>
        <h:form id="form">
            <center>
                <br></br>
                <br></br>
                <h2><p:outputLabel value="Teklif Oluştur"/></h2>
                <br></br>
                <h3>
                    <p:panelGrid columns="4">
                        <p:outputLabel value="Kurum Adı"/>
                        <p:inputText value="#{teklifController.teklifBean.kurumAdi}"/>
                        <p:outputLabel value="Toplam Araç Sayısı"/>
                        <p:spinner id="aracSayisi" value="#{teklifController.teklifBean.aracSayisi}">
                            <p:ajax update="fiyatTeklifi" process="@this"/>
                        </p:spinner>
                        <p:outputLabel value="Fiyat Teklifi"/>
                        <p:inputNumber
                                id="fiyatTeklifi"
                                value="#{teklifController.teklifBean.fiyatTeklifi}"
                                symbol=" ₺ "
                                decimalSeparator=","
                                thousandSeparator="."/>
                        <p:outputLabel value="Teklifi Hazırlayan"/>
                        <p:inputText value="#{teklifController.teklifBean.musteriTemsilcisi}"/>
                    </p:panelGrid>
                    <br></br>
                    <p:commandButton
                            value="Teklif Dosyasını Oluştur"
                            ajax="false"
                            onclick="PrimeFaces.monitorDownload(start, stop);"
                            icon="ui-icon-arrowthick-1-s">
                        <p:fileDownload value="#{teklifController.file}"/>
                    </p:commandButton>
                </h3>
            </center>
        </h:form>
        <p:dialog modal="true"
                  widgetVar="statusDialog"
                  header="Teklif Dosyası Oluşturuluyor"
                  draggable="false"
                  closable="false"
                  resizable="false">
            <center>
                <p:graphicImage name="ajaxloadingbar.gif" library="img"/><br></br>
                <h4><p:outputLabel value="Burak Filo A.Ş."/></h4>
            </center>
        </p:dialog>
        <script type="text/javascript">
            function start() {
                PF('statusDialog').show();
            }

            function stop() {
                PF('statusDialog').hide();
            }
        </script>
    </ui:define>
</ui:composition>